@model Pwneu.Identity.Views.Certificate

<html lang="en">
<h1>Certificate of Participation</h1>
<h1>@Model.FullName</h1>
<h1>Issued at: @Model.IssuedAt</h1>
<h1>Issuer: @Model.CertificationIssuer</h1>
</html>